/*mobile first*/

body {
  font-family: helvetica, sans-serif;
  width: 90%;
  background-color: #ecf0f1;
  margin: 20px auto;

}

div {
  padding-bottom: 20px;
  text-align: center;
}

h3 {
  margin: 30px;
}




input[type="text"] {
  padding: 5px;
  width: 80%;
  margin: 10px auto;
  align-items: center;
  height: 25px;

}


label {
  padding: 10px;
  margin: 20px;
}

button {
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
  background-color: #bdc3c7;
}


p {
  background: #f39c12;
  color: #5E2612;
  padding: 10px;
  visibility: hidden;
  width: 80%;
  margin: 0 auto;
  text-align: justify;
}






/*tablets, desktops++*/

@media (min-width: 768px) {

}